<!DOCTYPE html>
<html>
<head>
	<title>Better UP Cebu</title>
	<link href = "./static/adminstyle.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
	<h1>Welcome!</h1>
	<div id = "main">
		<div id = "space"> </div>
		<div id = "content1">
			<form action= "/add_teacher" method= "post">
				<label for="name"> <p> <b> Full Name </label>
				<input type="text" name="name" id="name" placeholder = " U s e r n a m e">
				<label for="course_graduated"> Course Graduated</label>
				<input type="text" name="course_graduated" id="course_graduated" placeholder = " C o u r s e ">
				<label for="description">Description</label>
				<input type="text" name="description" id="description" placeholder = " D e s c r i p t i o n">
				<label for="consultation">Consultation </label>
				<input type="text" name="consultation" id="consultation" placeholder = " C o n s u l t a t i o n">
				</br>
				<button class = "button"> Add Teacher </b> </p> </button>
			</form>
		</div>
	</div>
</body>
</html>