<!DOCTYPE html>
<html>
<head>
	<title>Better UP Cebu</title>
</head>
<body>
	<h1>Welcome!</h1>
	<form action= "/add_teacher" method= "post">
		<label for="name">Name</label>
		<input type="text" name="name" id="name">
		<label for="course_graduated">Course Graduated</label>
		<input type="text" name="course_graduated" id="course_graduated">
		<label for="description">Description</label>
		<input type="text" name="description" id="description">
		<label for="consultation">Consultation</label>
		<input type="text" name="consultation" id="consultation">
		</br>
		<button>Add</button>
	</form>
</body>
</html>