<html>
	<head>
		<title> Better UP Cebu </title>
		<link link href = "./static/adminstyle.css" rel="stylesheet" type="text/css" media="screen" />
	</head>
		
	<body>
		<div id = "main">
			<div id = "space"> </div>
			<div id = "content1">
			<form action="/upload_avatar" method="post" enctype="multipart/form-data">
				
					<label for="avatar"> <h2> Upload Avatar </h2> </label>
					<div> </div>
					<div> </div>
					<input type="file" name="avatar" id="avatar">
					<div> </div>

				<button class = "button2" type = "submit"> SET MAIN PHOTO </button>
			</form>
			</div>
			
		</div>
	</body>
</html>